html,
body {
    height: 100%;
}

body {
    background: url('images/tiny_grid.png');
}

.container {
    height: 80%;
}

.push {
    padding-top: 70px;
}

#result {
    height: 80%;
}

#result .video {
    height: 100%;
}

.pjax.loading {
	position: relative;
}
.pjax.loading:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    opacity: 0.3;
    background: #ccc url(images/loader-spinner.gif) no-repeat top center;
    
    content: '';
    z-index: 9999;
}
